/* style4.css */
.root {
    -fx-background-color: #ecf0f1; /* Fundo claro */
}

.product-label {
    -fx-text-fill: #2c3e50; /* Texto dos rótulos na cor primária */
    -fx-font-size: 14px; /* Ajuste o tamanho da fonte, se necessário */
}

.action-button {
    -fx-background-color: #2c3e50; /* Cor do fundo do botão */
    -fx-text-fill: white; /* Cor do texto do botão */
    -fx-border-color: #2c3e50; /* Borda na cor primária */
    -fx-border-width: 1px; /* Largura da borda */
    -fx-padding: 5px; /* Espaçamento interno */
    -fx-border-radius: 5px; /* Bordas arredondadas */
}

.action-button:hover {
    -fx-background-color: #34495e; /* Cor do fundo ao passar o mouse */
}
